#!/bin/sh

xrandr --dpi 192
export GDK_SCALE=2
setbg &		# Set the background
sxhkd &	# Bind keys
# Switch to US,HR or HU keyboard layout
#setxkbmap -option grp:alt_shift_toggle -layout hu,us,hr -variant &
xset r rate 330 50 &	# Speed xrate up
#xsetroot -solid '#000000'
xsetroot -cursor_name left_ptr &
unclutter &		# Remove mouse when idle
dunst &			# dunst for notifications
mpdupdate &
nm-applet &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
picom --config ~/.config/picom.conf &
#zathura ~/.local/share/Magyarch-hlwm.pdf &
sleep 2s && notify-send 'Nyomja meg a Super+F1-et a használati utasításért.' -t 10000 &

